@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-image: url(https://img.freepik.com/fotos-gratis/vista-do-luxuoso-espaco-interior-do-hotel_23-2150683473.jpg?t=st=1717014718~exp=1717018318~hmac=808a6ebab494c075a2c564e18bca7eba2f1680aa38e734a6d283539f03177540&w=740);
    background-size: cover;
    background-position: 100%;
    overflow-x: hidden;
}

main {
    padding: 20px;
    transition: margin-left 0.5s;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #276E2A;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: width 0.5s;
    width: 82px;
}

#sidebar.open-sidebar {
    width: 250px;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #fff;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #024e06;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #024e06;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.side-item.active a {
    color: #fff;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #276E2A;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
}

#open_btn_icon {
    transition: transform 0.5s;
}

#sidebar.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width 0.5s, opacity 0.5s;
    width: 0;
    opacity: 0;
    color: #fff;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    opacity: 1;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

main.expanded {
    margin-left: 0.5rem;
}

/* Box do Cadastro */

.ContainerCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 60vw;
    height: 95vh;
    background-color: #7e7e7ecb;
    border-radius: 2%;

}

.inputs_login_esquerda,
.inputs_login_direita {
    gap: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input {
    position: relative;
}

.input__field {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #0a0a0a;
    background-color: transparent;
    outline: 2px solid #000000;
}

.input__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s;
}

.input__field:focus-visible~.input__label,
.input__field:valid~.input__label {
    transform: translate(0, -30px) scale(0.8);
}

.input__field:is(:focus-visible, :valid) {
    outline-color: #000000;
}

.input__icon-wrapper {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input__icon {
    color: #999;
    font-size: 24px;
}