/* Box do Cadastro */

.ContainerCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 95vh;
    background-color: #fffffff2;
    border-radius: 2%;
}

.equipe {
    color: #38B54C;
}

/* Avatar */

#picture__input {
    display: none;
}

.picture {
    width: 12.5rem;
    aspect-ratio: 16/16;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 0.125rem solid;
    border-radius: 90%;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

/* Fim do avatar */

.inputs_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7rem;
    width: 100vw;
    height: 50vh;
}

.inputs_login_esquerda {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 2rem;
}

.inputs_login_direita {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 2rem;
}

.input {
    position: relative;
}

.input__field {
    padding: 0.625rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    font: inherit;
    color: #0a0a0a;
    background-color: transparent;
    outline: 0.125rem solid #000000;
}

.input__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0.625rem, 0.625rem);
    transform-origin: left;
    transition: transform 0.25s;
}

.input__field:focus-visible~.input__label,
.input__field:valid~.input__label {
    transform: translate(0, -1.875rem) scale(0.8);
}

.input__field:is(:focus-visible, :valid) {
    outline-color: #000000;
}

.input__icon-wrapper {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.input__icon {
    color: #999;
    font-size: 1.5rem;
}

.input__icon2 {
    color: #999;
    font-size: 1.5rem;
}

.registrar {

    width: 10vw;
    height: 7vh;
    padding: 1rem, 1rem, 1rem, 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #43A046;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    color: whitesmoke;
}

.registrar:hover {

    transform: translateY(-0.4rem);
    transition: 0.2s;
    box-shadow: 0rem 0.5rem 0.8rem rgb(0, 0, 0);

}

a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

/* Fim do box cadastro */
