body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    background-color: #007744;
    width: 250px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 1.4em;
    margin-bottom: 40px;
}

.menu {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

.menu li {
    padding: 15px 0;
    cursor: pointer;
}

.menu li.active {
    background-color: #004c30;
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.header .highlight {
    color: #007744;
}

.filter-button {
    background-color: #007744;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #005533;
}

.calendar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.count-dias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s;
}

.nav-button:hover {
    color: #007744;
}

#dias {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    width: 600px; /* Aumentando a largura para garantir que o texto caiba inteiro */
    text-align: center;
    display: inline-block;
    white-space: nowrap; /* Impede que o texto quebre em múltiplas linhas */
    overflow: visible; /* Permite que todo o texto seja visível */
}

.week-days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.day {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    flex: 1;
    border-radius: 10px;
    margin: 0 5px;
    font-weight: bold;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 0 5px;
}

.task {
    background-color: #007744;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.task:hover {
    transform: translateY(-3px);
    background-color: #005533;
}

.task.inactive {
    background-color: #ccc;
    color: #666;
    cursor: default;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: animacaoModal 0.3s ease-out;
}

@keyframes animacaoModal {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content h3 {
    margin-top: 0;
    color: #007744;
    text-align: center;
}

.modal-content label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    background-color: #007744;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #005533;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}
